<div class="padre">
    <div class="div3">
        <div class="container">
            <header>
                <h1>Ranking</h1>
            </header>
            <div class="wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Rango</th>
                            <th>Alumno</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="rango">1</td>
                            <td class="alumno">Spain</td>
                            <td class="puntos">1460</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>