<!-- <div class="padre">
    <div class="div3">
        <div class="container">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
</div> -->
<div class="padre">
    <div class="div3">
        <section class="characters">
            <img src="http://127.0.0.1:8000/images/common/Eze.png" class="img img2" alt="Rango 1">
            <img src="http://127.0.0.1:8000/images/common/Eze.png" class="img img2" alt="Rango 2">
            <img src="http://127.0.0.1:8000/images/common/Eze.png" class="img img2" alt="Rango 3">
            <img src="http://127.0.0.1:8000/images/common/Eze.png" class="img img2" alt="Rango 4">
            <img src="http://127.0.0.1:8000/images/common/Eze.png" class="img img2" alt="Rango 5">
            <img src="http://127.0.0.1:8000/images/common/Eze.png" class="img img2" alt="Rango 6">
        </section>
        <div class="rank">
            <div class="rank1">
                <img src="https://picsum.photos/250/200" alt=""> 
                <img src="https://picsum.photos/250/200" alt="">
                <img src="https://picsum.photos/250/200" alt="">
                <img src="https://picsum.photos/250/200" alt="">
            </div>
        </div>
    </div>
</div>