<!-- <div class="padre">
    <div class="div3">
        <div class="container">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
</div> -->
<div class="padre">
    <div class="div3">
        <section class="characters">
            <img *ngFor="let route of this.imgLv1; let i = index" src="http://127.0.0.1:8000{{route.link}}" class="img" alt="{{route.name}}" (click)="cambiarImg(i)" [ngClass]="this.faseImagenes[i] == true ? 'active' : 'img2'">
        </section>
        <div class="rank">
            <div class="rank1">
                <img src="http://127.0.0.1:8000/images/common/{{this.selected}}2.webp" alt=""> 
                <img src="http://127.0.0.1:8000/images/common/{{this.selected}}3.webp" alt="">
                <img src="http://127.0.0.1:8000/images/common/{{this.selected}}4.webp" alt="">
                <img src="http://127.0.0.1:8000/images/common/{{this.selected}}5.webp" alt="">
            </div>
        </div>
    </div>
</div>