* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    user-select: none;
}

.padre {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div3 {
    display: grid;
    grid-area: 1 / 1 / 6 / 13;
    place-items: center;
}

.characters {
    display: flex;
    width: 750px;
    height: 512px;
}

.img2 {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
}

.img {
    opacity: .8;
    filter: brightness(10%);
}

section img:hover {
    cursor: pointer;
}

.active {
    transition: .5s ease;
    width: 500px;
    opacity: 100;
    filter: contrast(120%);
    filter: brightness(100%)
}

.rank1 {
    display: flex;
    gap: 10px;
}