<div class="padre">
    <div class="div3">
        <div class="medio">
            <div class="borde">
                <span class="texto">¿Qué eres?</span>
                <div class="display-flex">
                    <form action="" (ngSubmit)="prof()">
                        <button class="btn blue" routerLink="/register">Alumno</button>
                    </form>
                    <form action="" (ngSubmit)="stud()">
                        <button class="btn blue" routerLink="/register">Professor</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>