<!--     <div class="warning" *ngIf="this.messageService.mensajeLogin == false">
      No a podido entrar compruebe si las credenciales son correctas
      <button mat-raised-button (click)="cerrar()" color="warn">X</button>
    </div>
<div class="padre">
  <div class="div3">
    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <h2>Log In</h2>
          <mat-form-field>
            <input matInput type="text" placeholder="Email or Nick" name="text" formControlName="text">
            <mat-error>
              Please provide a valid nick or email
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" name="contraseña" formControlName="password">
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<!-- Opcion 1 -->
<!-- <div class="padre">
  <div class="div3">
    <div class="center">
      <div class="borde">
        <h1>Login</h1>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="txt_field">
            <input matInput type="text" name="text" formControlName="text">
            <span></span>
            <label>Email or Nick</label>
          </div>
          <div class="txt_field">
            <input matInput type="password" name="contraseña" formControlName="password">
            <span></span>
            <label>Contraseña</label>
          </div>
          <input type="submit" value="Login">
          <div class="register_link">
            Crear una cuenta
            <a (click)="register()">Signup</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- Opcion 2 -->
<!-- <div class="padre">
  <div class="div3">
    <div class="card">
      <div class="borde">
        <div class="username">
          <h1 class="head">Login</h1>
          <input matInput type="text" placeholder="Email or Nick" name="text" formControlName="text">
        </div>
        <div class="password">
          <input matInput type="password" placeholder="Contraseña" name="contraseña" formControlName="password">
        </div>
        <div class="forgot">¿Olvidó su contraseña?</div>
        <div class="btn">
          <button class="login-btn">Login</button>
        </div>
        <div class="sign-up">Crear cuenta 
          <a (click)="register()">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div> -->